html { overflow-y: auto; }
body {
    background-image: linear-gradient(to right bottom, #b14281, #a74289, #9c4390, #8f4596, #80479c, #744297, #693e91, #5d398c, #542c7c, #4b1f6d, #42115e, #39014f);
}
footer { position: relative; margin-top: -3.2rem; padding: 1rem; text-align: center; font-size: 0.8rem; color: rgba(255,255,255,0.5); }
footer a { color: #fff; font-weight: bold; }
footer a:hover { color: #fff; text-decoration: underline; }
.flex { display: flex; align-items: center; }
.field.has-addons { z-index: 1; position: relative; margin-top: 1.5rem; margin-bottom: 1.5rem; }
.field.has-addons select { border-bottom-right-radius: 0; border-top-right-radius: 0; }
[hidden] { display: none !important; }
#custom {
    position: absolute; bottom: 100%; left: 0; width: 38.2%;
    min-width: 0; max-width: none; min-height: 0; max-height: none; height: auto;
    margin-bottom: 10px;
}
#custom:not([hidden]) + *:before, .clicks:before, .qr:before {
    content: "";
    position: absolute; left: 1rem; bottom: 100%; margin-bottom: 2px;
    display: block; width: 0; height: 0; 
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #fff;
}
.error { margin-top: -0.8rem; margin-bottom: 1.5rem; padding: 12px 16px; border-radius: 4px; }
.clicks { position: absolute; bottom: -1.5rem; width: auto; height: auto; margin-bottom: 2px; left: 7.7rem; box-shadow: none; pointer-events: none; }
.clicks:before { border-top: none; border-bottom: 9px solid #fff; margin-bottom: 0; margin-top: 2px; left: auto; left: 1rem; }
.qr { position: relative; top: -2px; margin-bottom: -1rem; width: 38.2%; max-width: 60vh; height: auto; padding: .375em; }
.qr:before { bottom: auto; top: 100%; left: 5.15rem; }
input[type="checkbox"][hidden]:not(:checked) + * { display: none; }
.flex.view>:not(:last-child) { margin: 0.5rem 1rem; margin-left: 0; flex-wrap: wrap; max-width: 100%; }
.info .b { flex: none; }
@media (max-width: 40rem) {
    .field.has-addons {
        flex-wrap: wrap;
    }
    .field.has-addons:not(.info)>* { flex-basis: 51%; flex-grow: 1; }
    .field.has-addons:not(.info) select { width: 100%; border-top-right-radius: 4px; border-bottom-left-radius: 0; }
    .field.has-addons:not(.info) input { border-bottom-left-radius: 4px !important; }
    .field.has-addons:not(.info) button { border-top-right-radius: 0; }
    .info .b { order: -1; flex-basis: 32%; flex-shrink: 0; flex-grow: 1; }
    .info .b:last-child { margin-right: -1px; } /* TODO: why? */
    .info .b>* { width: 100%; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
    .info .input { border-radius: 0 0 4px 4px !important; }
    .clicks { left: 0; }
    #custom { width: 61.8%; }
    .qr { width: 100%; left: 50%; transform: translateX(-50%); }
    .qr:before { left: 50%; transform: translateX(-50%); }
}
